<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Users</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link th:href="@{styles.css}" rel="stylesheet">
</head>
<body>
<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Users <b>Details</b></h2></div>
                    <div class="col-sm-4">
                        <form action="#" th:method="get" th:action="@{/user-create}">
                            <button type="submit" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users_page.content}">
                    <td th:text="${user.id}"/>
                    <td th:text="${user.firstName}"/>
                    <td th:text="${user.lastName}"/>
                    <td>
                        <!--                        <a th:href="@{user-update/{id}(id=${user.id})}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>-->
                        <div class="btn-group table" role="group" aria-label="Basic mixed styles example">
                            <form id="update_form_id" action="#" th:method="GET" th:action="@{/user-update}"
                                  th:object="${user}">
                                <input type="hidden" th:name="id" th:value="${user.id}"/>
                                <button type="submit" class="btn btn-warning btn-sm">Upd</button>
                            </form>
                            <!--                        <a href="#" onclick="document.getElementById('update_form_id').submit()" type="submit" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>-->
                            <form action="#" th:method="POST" th:action="@{user-delete}" th:object="${user}">
                                <input type="hidden" th:name="id" th:value="${user.id}"/>
                                <button type="submit" class="btn btn-danger btn-sm">Del</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li th:if="${users_page.totalPages > 0}" class="page-item" th:each="page_number: ${page_numbers}">
                        <a class="page-link" th:href="@{/users(page=${page_number}, size=${users_page.size})}"
                           th:text="${page_number}"
                           th:classappend="${page_number == users_page.number + 1} ? active"/>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>
